@import url('https://unpkg.com/css.gg@2.0.0/icons/css/home.css');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Truculenta';
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
}

.cursor{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: left linear 0.1s top linear 0.1s;
}

.main{
    background-color: #0F0D0D;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}

#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 99;
}

#nav img{
    height: 26px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#nav h4:hover{
    transition: all ease-out 0.1s;
    font-weight: 900;
    transform: translateY(-10%);
    border-bottom: 1.5px solid white;
}

.page1 h1{
    font-size: 7vw;
    font-weight: 300;
    /* margin-top: 12vw; */
    margin-left: 8vw;
    font-family:Arial, Helvetica, sans-serif;
}

.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    margin-left: 28vw;
    font-family: Arial, Helvetica, sans-serif;
}

.page1 video{
    width: 60%;
    margin-top: 4vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 10vh 5vw;
    border-bottom: 2px solid #909090;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size: 7vw;
    font-weight: 300;
    color: #111;
    font-family: 'Times New Roman', Times, serif;
}

.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.page2-left{
    /* background-color: blue; */
    width: 36%;
}

.page2-right{
    /* background-color: blue; */
    width: 26%;
}

.page2-left h2{
    font-size: 4vw;
    font-weight: 150;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #111;
    line-height: 4vw;
}

.page2-right p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color: #111;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 18px;
}

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 40px;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 6vw;
}
.page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 6vw;
    margin-top: 100px;
}

.page3-part1 img{
    height: 230px;
    margin-top: 100px;
}

.page3-part1 video{
    height: 250px;
}
.page3-part2 img{
    height: 230px;
}

.page3-part2 video{
    height: 250px;
    margin-top: 100px;
}

.page3-part3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vw 5vw;
}

.page3-part3 h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
}

.circle2{
    background-color: rgb(213, 68, 177);
    padding: 35px;
    border-radius: 100%;
    border: 1px solid black;
}

.circle2 p{
    color: #111;
    font-weight: 700;
    font-size: 2vw;
}

.circle2:hover{
    background-color: #111;
}

.circle2:hover p{
    color: #fff;
}

.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 100px 80px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    width: 25vw;
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
    /* background-color: blue; */
}
.elem h1{
    font-size: 6vw;
    font-weight: 800;
    transition: all ease-in-out 0.2s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

.page5{
    min-height: 150vh;
    width: 100%;
    /* background-color: rgb(109, 209, 248); */
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-content: space-between; */
}

.page5-part1{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.text-box{    
    font-size: 35px;
    text-transform: uppercase;
}

.text-box h1{
    color: white;
    font-weight: 500;
    /* font-family: Arial, Helvetica, sans-serif; */
}


.getintouch{
    background-color: white;
    border-radius: 50%;
    padding: 60px 30px;
    width: 8vw;
    height: 8vw;
    transition: transform 2s background-color 2s;
}

.getintouch p{
    color: black;
    font-size: 15px;
}

.getintouch:hover{
    background-color: goldenrod;
    transform: scale(2,2);
}

.getintouch:hover p{
    font-weight: bold;
    color: white;
}

.page5-part2{
    height: 40vh;
    width: 100%;
/*     background-color: blue; */
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.page5-part2 p{
    color: white;
    font-weight: 700;
}



